
body, html {
  height: 100%;
}

h1{
color: white;
font-size: 50px;
}

li{
color: white;
font-size: 30px;
}

#partiuBalbina{
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}
#teste{
  width: 100%;
    height: 100%;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(download.webp);
  
}
